/* Divido il body con 2 colori */
body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top,
      #D7DBD6 85%,
      #009688 85%,
      #009688 100%);
      overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;
  color: currentColor !important;
}

.bg-color-lightgrey {
  background-color: #EAEAEA;
}

ul,
menu,
li {
  list-style: none;
}

.w-87 {
  width: 87%;
}

.container-main {
  background-color: white;
  position: relative;
  max-width: 1460px;
  height: 93vh;
  overflow: hidden;
  height: calc(100vh - 45px);
  padding: 0;
  margin: 0;

}

.contacts {
  height: calc(100% - 146px);
  overflow-y: scroll;
  width: 33.33333%;
  padding: 0;
  margin: 0;
}


header.main__header {
  background-color: #EAEAEA;
  min-height: 45px;
  overflow: hidden;
  z-index: 999;
}

.profile__pic {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.propic {
  border-right: 1px solid #D7DBD6;
}

.propic__icon {
  color: #777 !important;
}

.chat__header {
  align-items: center;
}

.chat__header a i {
  color: #777;
}

.notifiche {
  background-color: #8EDAFC;
  min-height: 45px;
  width: calc(33.3% - 2px) !important;
  /* PERDONATEMI */
}


.notifiche>i {
  color: #8EDAFC !important;

}

.contacts li {
  border-bottom: 1px solid #EAEAEA;
  min-height: 70px;
}

.search__contact {
  border: 1px solid #D7DBD6;
}

.active {
  background-color: #EAEAEA;
}

.chat-section {
  display: flex;
  flex-direction: column;
  background-image: url(../img/Sfondi-4K-PC.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  bottom: 0;
  left: calc(33.33333% + 1px); 
  width: 66.6%;
}


.chat__control {
  min-height: 30px;
  padding: 10px;
  background-color: #EAEAEA;
  color: #777;
  width: 89vw;
  position: absolute;
 bottom: 0;
 right: 0;
}

.msg__input {
  width: 90%;
  
}

.sender__message {
  width: 50%;
  text-align: right;
  padding-right: 20px;
  justify-content: flex-end;

}

.receive__message {
  width: 50%;
  text-align: left;
  padding-left: 20px;
  justify-content: flex-start;

}
.chat__messages {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 94%;
}

.chat__msg {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  display: block;
  max-width: 43%;
  overflow: visible;
  scroll-behavior: smooth;
}

.sent {
  align-self: flex-end;
  background-color: #D5F9BA;
}

.received {
  align-self: flex-start;
  background-color: white;
}

.sender__message, 
.receive__message {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}


.message-time {
  font-size: 0.75rem;
  color: #777;
  display: block;
}


